@{
    ViewBag.Title = "Pages Management";
}

@Html.Partial("_AddPagePartial")

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Pages Management</h2>
    </header>

    <!-- start: page -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5">
                <div id="pagesListCon"></div>
            </div>
            <div class="col-xl-7">
                <div id="editPageCon" class="loader-con"></div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</section>

@Html.Partial("_DeletePagePartial")

@section scripts{
    <script src="~/Areas/Admin/Content/js/website-pages.js"></script>
}