@model IEnumerable<OrkaMostar.Areas.Admin.ViewModels.WebsitePagesAdminViewModel>

<section class="card">
    <header class="card-header">
        <h2 class="card-title">All Blogs</h2>
    </header>
    <div class="card-body p-0" style="display: block;">
        <table class="table table-responsive-md mb-0">
            <thead>
                <tr>
                    <th>Blog Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var page in Model)
                {
                    <tr>
                        <td>
                            @{var hidden = "";
                                if (page.isHidden)
                                {
                                    hidden = "(Hidden)";
                                }
                            }
                            @page.MenuName @hidden
                        </td>
                        <td class="actions">
                            <a class="edit-page-trigger cur-pointer btn btn-primary text-white mr-3" data-page-id="@page.Id">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger text-white" href="javascript:void(0);" id="DeletePageButton" data-pageid="@page.Id" data-toggle="modal" data-target="#DeletePageModal"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pt-3">
        <button type="button" class="btn btn-primary d-block add-page-modal-btn" id="addNewPageBtn">
            Add New Blog
        </button>
    </div>
</section>