<div class="modal fade" tabindex="-1" role="dialog" id="DeletePageModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center text-danger mb-4 info-icon">
                    <i class="fa fa-question-circle fa-10x" aria-hidden="true"></i>
                </div>
                <h5 class="text-center">Are you sure?</h5>
            </div>
            <div id="DeletePageForm">
                <div class="modal-footer">
                    <a data-page-id-to-delete="" id="deletePageConfirm" class="btn btn-danger m-auto text-white">Delete</a>
                    <button type="button" class="btn btn-light m-auto" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>